.custom-select [class*="-control"] {
  background: #fbfbfb;
  border: 1px solid #e4e5e7;
  border-radius: 7px;
	max-width: 300px;
	min-width: 300px;
}
.custom-select [class*="-ValueContainer"] {
  padding: 10px 10px;
}
.custom-select [class*="-Input"] {
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 18px;
}
.custom-select [class*="-placeholder"] {
  margin: 0;
  font-size: 15px;
  line-height: 18px;
}
.custom-select [class*="-indicatorSeparator"] {
  display: none;
}
.custom-select [class*="-menu"] {
  margin: 0;
}
.custom-select [class*="-singleValue"] {
	font-size: 15px;
	line-height: 18px;
	color: rgba(199, 52, 52, 0.7);
}
.custom-select .field__label {
	cursor: auto;
}