.App {
  min-width: 100vw;
  min-height: 100vh;
}
.container {
	display: flex;
	max-width: 1024px;
	margin: 0 auto;
}
.field__input {
  width: 100%;
}
.main {
	max-height: 100vh;
	overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 50px;
  flex: 1;
	gap: 40px;
}
.main__header {
  margin-bottom: 40px;
}
.form__title + .form__text {
  margin-top: 20px;
}
.form__text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}

.field-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
}
.hidden {
	display: none;
}